<form method="post" action="/home/produce">
    <div>
        <textarea class="score" name="score" spellcheck="false">8#g2 8e2 8#g2 8#c3 4a2 4- 8#f2 8#d2 8#f2 8b2 4#g2 8#f2 8e2 4- 8e2 8#c2 4#f2 4#c2 4- 8#f2 8e2 4#g2 4#f2</textarea>
    </div>
    <div>
        <h1>Nokia Ringtone Composer</h1>
        <input type="submit" value="Amaze me" />
        <p>
            <br />Get some <a href="http://nokia.nigelcoldwell.co.uk/tunes.html" target="_blank">sample tunes</a>
        </p>
    </div>
</form>