<form method="post" action="/home/produce">
    <div>
        <textarea class="score" name="score" spellcheck="false">2- 16a1 16- 16a1 16- 8a1 16- 4a2</textarea>
    </div>
    <div>
        <h1>Nokia Ringtone Composer</h1>
        <input type="submit" value="Amaze me" />
        <p>
            <br />Get some <a href="http://nokia.nigelcoldwell.co.uk/tunes.html" target="_blank">sample tunes</a>
        </p>
    </div>
</form>